.main__container
{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  min-height: 90vh;
  position: relative;
}

app-weather-card
{
  background-color: red;
}
app-add
{
  background-color: gray;
  height: 100px;
  max-height: 20px;
}
